# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: pafranco <pafranco@student.42barcelon      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/21 18:15:30 by pafranco          #+#    #+#              #
#    Updated: 2025/08/07 23:15:45 by tv               ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.d
*.o
*.a
cub3d
a.out
